<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: summernoteHead('Hello, Spring Boot!')"></head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:replace="fragments/common::menu('saveForm')"></nav>

<div class="container">
    <a href="#" class="btn btn-primary" th:href="@{/board/form(id=${board.id})}">저장하기</a>
    <button class="btn btn-primary" th:onclick="|history.back()|">뒤돌아가기</button>
    <button class="btn btn-primary" th:onclick="|boardDelete()|" >글쓰기 삭제</button>

    <form class="form-signin"  th:object="${board}" method="post">
        <input type="hidden" id="boardId" th:field="*{id}" name="boardId" >
        <div>작성자 : <span th:text=="*{users.username}"></span></div>
        <div th:text="*{title}"></div>
        </br>
        <div th:utext="*{content}"></div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/board/board.js}"></script>

<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>


