<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Hello, Spring Boot!')"></head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:replace="fragments/common::menu('joinForm')"></nav>

<div class="container">

    <form action="#" th:object="${user}" method="post">

        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" id="username"
                   th:field="*{username}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                username 에러 메시지
            </div>
        </div>

        <div class="form-group">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" rows="3" th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"></input>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                password 에러 메시지
            </div>
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email" rows="3" th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"></input>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                email 에러 메시지
            </div>
        </div>
    </form>

    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/}">취소</a>
        <button id="btn-join" class="btn btn-primary">확인</button>
    </div>

</div>


<script type="text/javascript" th:src="@{/js/user.js}"></script>

<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>


