<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Hello, Spring Boot!')"></head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:replace="fragments/common::menu('account')"></nav>

<div class="container">

    <form action="#" th:action="@{/user/login}" method="post">

        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="password">username</label>
            <input type="text" class="form-control" id="password">
        </div>

    </form>

    <div class="text-right">
        <button id="btn-login" class="btn btn-primary">로그인</button>
    </div>


</div>


<script type="text/javascript" th:src="@{/js/login.js}"></script>

<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>


