<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title th:text="${title}">Hello, Spring Boot!</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:fragment="menu(menu)">
    <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item" th:classappend="${menu} == 'loginForm'? 'active'">
                <a th:if="${session.principal == null}" class="nav-link" href="#" th:href="@{/loginForm}">로그인
                    <span class="sr-only" th:if="${menu} == 'loginForm'">(current)</span></a>
            </li>

            <li class="nav-item" >
                <a th:if="${session.principal != null}" class="nav-link" href="#" th:href="@{/logout}">로그아웃</a>
            </li>

            <li class="nav-item" th:classappend="${menu} == 'joinForm'? 'active'">
                <a class="nav-link" href="#" th:href="@{/joinForm}">회원가인
                    <span class="sr-only" th:if="${menu} == 'joinForm'">(current)</span></a>
            </li>

            <li class="nav-item" th:classappend="${menu} == 'write'? 'active'">
                <a th:if="${session.principal != null}" class="nav-link" href="#" th:href="@{/user/account}">글쓰기
                    <span class="sr-only" th:if="${menu} == 'write'">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>

<footer th:fragment="footer">

    <div class="jumbotron text-center" style="margin-bottom: 0">
        <p>Created by Dominic</p>
        <p>📞 010-2222-7777</p>
        <p>🏴 서울 천왕동 </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


</footer>


</body>
</html>