<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Hello, Spring Boot!')"></head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:replace="fragments/common::menu('login')"></nav>

<div class="container">

    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">제목</h4>
            <a href="#" class="btn btn-primary">상세보기</a>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">제목</h4>
            <a href="#" class="btn btn-primary">상세보기</a>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title">제목</h4>
            <a href="#" class="btn btn-primary">상세보기</a>
        </div>
    </div>
</div>

<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>


